<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
  </head>
  <body>
    <div class="w-50 m-auto my-3 p-5 border round bg-light" >
    <h2 class="text-center">Forgot Password</h2>
    <form id="forgotPasswordForm">
      <input type="email" class="form-control" id="email" placeholder="Enter Your Email" name="email" required>
      <button type="submit" class="btn btn-primary my-3 d-block m-auto" >Submit</button>
    </form>
    </div>
    <script>
      document.getElementById('forgotPasswordForm').addEventListener('submit', async function (event) {
        event.preventDefault();
        const email = document.getElementById('email').value;
  
        const response = await fetch('/api/forgot-password', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ email })
        });
  
        if (response.ok) {
          alert('Password reset email sent!');
        } else {
          alert('Error: ' + (await response.text()));
        }
      });
    </script>
  </body>
  </html>