@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root
{
	--theme-color: #032435;
}

body
{
	/* height: 100vh; */
	background-color: #f2f2f2;
	background: transparent;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}


header
{
	/* background: rgb(2,0,36);
	background: linear-gradient(45deg, rgb(38, 7, 75) 10%, rgb(37, 37, 149) 60% , rgb(1, 17, 61) 100%); */
	background: #032435;
	height: 9vh;
	/* font-weight: 500; */
	/* width:min-content; */
}
 .nav-link
{
	color: rgb(24, 24, 24) !important;
	font-weight: 300;
	font-size: 1.1em;
	color: white !important;
	/* margin-right: 2px; */
	border-bottom: 2px solid rgba(244, 240, 240, 0);
}

@media screen and (max-width:765px) {
	header #navbarSupportedContent
{
	background-color: #032435;
	/* background: rgba(2, 0, 36, 0.438); */
	/* background: linear-gradient(45deg, rgb(38, 7, 75) 10%, rgb(37, 37, 149) 60% , rgb(1, 17, 61) 100%); */
} 
.button1{
	margin-bottom: 4px;
}
}


 .nav-link:hover
{
	transition: 0.5s;
	color: #eeeaea !important;
	border-bottom: 2px solid rgb(244, 240, 240);
}
.user-icon
{
	background-color: #3f51b5;
	padding: 0.4rem;
    color: white !important;
    border-radius: 50%;
    border: 2px solid white;
    width: 40px;
    text-align: center;
	cursor: pointer;
}
header .navbar-toggler:focus
{
	box-shadow: none;
}

.bg-img-1
{
	min-height: calc(100vh - 50px);
	background: url("/assets/images/img-2.jpg") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	
	/* filter: blur(8px);
	-webkit-filter: blur(8px); */
}
.bg-img-2
{
	min-height: calc(100vh - 50px);
	background: url("/assets/images/img-3.jpg") no-repeat center;
	background-size: cover;
	/* background-attachment: fixed; */
	/* filter: blur(8px); */
	/* z-index: -1; */
	/* -webkit-filter: blur(8px); */
}

.form{
	/* background-color: #efefef !important; */
	/* color: white !important; */
	/* backdrop-filter: blur(90px); */
	/* box-shadow: 0px 0px 6px  #0000005f; */
	z-index: 2;
	border-radius: 10px;
	border: none !important;
	::placeholder{
		color: #a09d9d;
	}

	
}


.form input {
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid rgb(143, 140, 140);

}

.form-control{
	background: transparent !important;
}

.color-theme
{
	color: var(--theme-color);
}

/* .btn
{
	padding: 6px 15px;
	/* font-size: 18px; */
	/* color: white; */
	/* background-color: var(--theme-color); */
	/* border-radius: 0px; */
/* } */ 
.btn-danger
{
	background-color: rgb(223, 28, 28);
}
/* .btn:hover
{
	box-shadow: 3px 4px 6px 0px grey;
	color: white;
} */
.button1 {
	color: green ;
	border: 2px solid green;
}
.button2 {
	border: 2px solid rgb(94, 94, 239);
}


#carousel img
{
	width: 100vw;
	height: calc(100vh - 50px);
	object-fit: cover;
	object-position: center;
}
#carousel .carousel-control-prev-icon, #carousel .carousel-control-next-icon
{
	transform: scaleX(1.5) scaleY(2);
	background-color: #000000;
	cursor: pointer;
}


.form-date-input
{
	display: block;
    width: 100%;
    padding: 6px;
    border-radius: 4px;
	border: 1px solid #ced4da;
}
.form-date-input:focus
{
	box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
	outline: none;
}

.text-pending
{ color: rgb(243, 172, 18) !important; }
.text-rejected
{ color: red !important; }
.text-accepted
{ color: green !important; }
.text-assigned
{ color: blue !important; }
.text-collected
{ color: #3f51b5 !important; }


.alerts-wrapper
{
	position: absolute;
	right: 0px;
	width: fit-content;
	font-weight: bold;
	animation: moveLeft 0.1s linear;
	z-index: 100;
}

.alerts-wrapper .alert-danger
{
	color: white;
	background-color: #e22a2a;
}
.alerts-wrapper .alert-success
{
	color: white;
	background-color: #1fa64e;
}


@keyframes moveLeft {
	from { right: -100px; }
	to { right: 0px; }
}
.img1{
	filter: invert();
	/* filter: grayscale(); */
}
.footer{
	background-color: #032435;
}